@font-face {
  font-family: 'Pushster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pushster/v12/BXRovFDanenCmllHXvt90Wo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body, html {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
background-image: url("https://images-ext-2.discordapp.net/external/oVuPEvU3amjAsVNuZq0WnwIfR51Ny78hFikxUcJSfHk/https/lh3.googleusercontent.com/fife/AAWUweXrUSbZJQBZxmtUDKEXZsgBh47mmdHSNHcIEaYlayDAmzij97nKtMvn0hpzeRDA2hlAZZdL87WRMipsVOtGM5pAxvx4aJCAekVcd9gy5KopnhzWeLVNKTxGfOWiD-_Ljm5wma2avLJ61lx83kDZDyCHwsM47c6TDH83W1tZcF2D0nd6W9E3iA22mFEyssdvLLIGZ0wuaPln4LOMll6nP8EciQjMnfbDvk547gTTCwVeSq4YLPbDhw4B8nybxgfzyZOevlW1ZWCV2sSTt0oYTZHD0NyyCozL43fVOY5zfD5drFWAmK2ySsWrFOgeoAkpAwIA2qrZzBEC_fgdWxqsvCu5PDpxRVdBxknYJ7kbZ3OReRtreSl50crou0ymcwgOVpKige6tyVxd1r5TAP9k-2WD9zycdbUgG67vnm32T5nkYQ3NWjdRFZfEN4qpL2ExA8uBoBDxUkiT8smSsM3K57P7FnY3QAeMTpuyggpxEA1ZhDDxXNZkVuXteUNyOIhFlBmIwaBVTzJ86SVAmLJGj2DvYJYoHn2iQAt7P2BYofTi8_jQVddhnxKKd6xK81VUP1hH-2EfP8iemU7gLGraRyGHNwsm08lQtHFeVLMnf3uSocvk-TS1EcFOx-6AJa-6yvsb7TKd6j5r5QlMFckjAQ67up00a8HbQQlswXoR70_jaOfmOwU_upJhy7d-irQYuYRqpZ6Cy8YsA650BnuB1j5A95AB3KnmIns%3Dw1920-h892-ft");
filter: blur(8px);
-webkit-filter: blur(8px);
  
height: 100%; 
  
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Pushster";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker1 {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.flicker2 {
  animation: shine 2s forwards, blink 10s 1s infinite;
}
.flicker3 {
  animation: shine 2s forwards, blink 5s 2s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

